/*mini reset css  */


*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
    margin: auto;
}

img {
    object-fit: cover;
}


@media screen and (max-width: 900px) {}


/* navigation */


.navigation {
    height: 60px;
    margin: 30px 50px 0 50px;
    display: grid;
    align-items: center;
    grid-template-columns: 4fr 1fr 1fr 1fr;
}

.navigation-lien1,
.navigation-lien2,
.inscription {
    justify-self: end;
    text-decoration: none;
    font-weight: bolder;

}

.navigation-lien1,
.navigation-lien2 {
    color: #727272;
}

.navigation-lien1::before {
    content: " ";
    position: relative;
    top: -50px;
    left: -7px;
    width: 130px;
    height: 3px;
    display: block;
}

.navigation-lien1:hover::before,
.navigation-lien2:hover::before {
    border-top: 3px solid #0065fc;

}

.navigation-lien1:hover,
.navigation-lien2:hover {
    color: #0065fc;
}

.navigation-lien2::before {
    content: " ";
    position: relative;
    top: -50px;
    left: -7px;
    width: 80px;
    height: 3px;
    display: block;
}




.inscription {
    color: #0065fc;
}

@media screen and (max-width: 900px) {
    .navigation {
        grid-template-columns: 4fr 1fr;
        row-gap: 20px;
        margin-bottom: 70px;
    }

    .navigation-lien1 {
        justify-self: start;
    }

    .inscription {
        grid-row-start: 1;
        grid-column-start: 2;

    }

    .navigation-lien2::before,
    .navigation-lien1::before {
        display: none;
    }


    .navigation-lien1::after {
        content: " ";
        position: absolute;
        top: 125px;
        left: 0;
        border-top: 3px solid rgb(202, 202, 202);
        width: 50%;
    }

    .navigation-lien1:hover::after {

        border-top: 3px solid #0065fc;

    }

    .navigation-lien2::after {
        content: " ";
        position: absolute;
        top: 125px;
        right: 0;
        border-top: 3px solid rgb(202, 202, 202);
        width: 50%;

    }

    .navigation-lien2:hover::after {

        border-top: 3px solid #0065fc;

    }

    .navigation-lien2:hover::before {
        display: none;
    }

    .navigation-lien1:hover::before {
        display: none;
    }
}


@media screen and (max-width: 500px) {
    .navigation {
        margin: 20px 15px 60px 15px;

    }

    .navigation-lien2 {
        margin-right: 30px;

    }

    .navigation-lien1 {
        margin-left: 30px;

    }
}


/* header */

.header {
    margin: 30px 50px 0 50px;
    display: flex;
    flex-direction: column;

}

.titre {
    font-weight: bold;

}

.titre h1 {
    font-size: 20px;

}

/* input recherche */

.recherche {
    margin: 30px 0 0 20px;
    padding-left: 10px;
    width: 300px;
    height: 46px;
    position: relative;
}

.recherche-icone {
    background-color: rgb(206, 206, 209);
    border-radius: 15px 0 0 15px;
    padding: 10px 15px 10px 15px;
    left: -20px;
    position: absolute;
    height: 46px;
}

.fa-map-marker-alt:before {
    position: relative;
    top: 5px;
}

.input {
    height: 100%;
    padding-left: 35px;
    padding-right: 50px;
    border: 0.1px solid rgb(202, 202, 202);
    font-weight: bolder;
    color: black;
    outline: none;
}

.recherche-button {
    height: 100%;
    position: relative;
    top: -46px;
    left: 225px;
    border-radius: 0 15px 15px 0;
    padding: 0 20px 0 10px;
    color: #f1f1f1;
    background-color: #0065fc;
    cursor: pointer;
    font-weight: bolder;
    border: none;

}

.recherche-button--small {
    visibility: hidden;
}

/* filtres */

.filtres {
    display: flex;
    margin-top: 30px;
}

.filtres p {
    width: 100px;
    margin-top: 10px;
}

.filtres-liste {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.filtres-liste li {
    margin-right: 30px;

}

.filtre-button:hover {
    background-color: #0065fc;
    color: #f1f1f1;
    transition: 0.3s ease-in-out
}

.filtre-button {
    height: 40px;
    padding: 10px 15px 10px 50px;
    border-radius: 90px 60px 60px 90px;
    border: 0.3px solid rgb(190, 190, 190);
    left: 50px;
    background-color: white;
    outline: none;
    font-weight: bolder;
    cursor: pointer;
}

.filtre-icone {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 9999px;
    padding: 10px;
    background-color: #deebff;
    color: #0065fc;
    z-index: 2;
}
.filtre-icone::before {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
}


.header-info {
    margin-top: 25px;
    display: flex;
}

.header-info_text {
    margin-left: 10px;
    margin-top: 2px;
    color: rgb(196, 196, 196);
}

.header-info_icone {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 9999px;
    padding: 5px;
    color: #0065fc;


}

.fa-info:before {
    font-size: 10px;
    position: relative;
    top: -7.5px;
    left: 2px;
}

@media screen and (max-width: 1000px) {


    .filtres {
        flex-direction: column;
    }

    .filtres-liste {
        margin-top: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0;
        row-gap: 15px;

    }

    .filtres-liste_item4,
    .filtres-liste_item3 {
        grid-column-start: span 2;
    }

    .filtres-liste li {
        margin-right: 0px;

    }

}


@media screen and (max-width: 500px) {
    .header {
        margin: 30px 10px 0 20px;
        display: flex;
        flex-direction: column;
    }
  

    h1 {
        font-size: 1.2em;
    }

    .input {
        padding-right: 40px;
    }

    .recherche-button {
        display: none;
    }

    .recherche-button--small {
        visibility: visible;
        position: relative;
        left: -20px;
        height: 46px;
        width: 46px;
        color: #f1f1f1;
        background: #0065fc;
        border-radius: 10px;
        top: -46px;
        left: 220px;
        cursor: pointer;
    }
    .recherche-button--small::before {
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  

    .header-info {
        margin-left: 10px;
    }

    .recherche {
        margin-left: 0;
        padding-left: 20px;

    }


    .recherche-icone {

        left: 0px;
        top: 0px;

    }
}


@media screen and (max-width: 350px) {

    .recherche {
        width: 150px;
    }
    .recherche-icone {
        top: 0px;
    }
    .input {
        padding-right: 0px;
    }
    .recherche-button--small {
        left: 180px;
        top: -46px;
    }
    .filtres-liste_item2 {
        margin-left: 10px;
    }

}

@media screen and (max-width: 300px) {


    .filtres-liste_item2 {
        margin-left: 0px;
        grid-column-start: 1;
    }

}

/* main */

.hebergement {
    margin: 30px 50px 40px 50px;
    display: flex;
}


/* article */

.hebergement-article {
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 66%;

}

.hebergement-article_titre {
    margin: 35px 0px 35px 30px;
    font-size: 20px;
}

.hebergement-article_grille {
    margin: 20px 0px 0px 0;
    display: grid;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-template-rows: repeat(auto-fill, 220px);
}


.hebergement-article-carte {
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
        0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07),
        0 32px 64px rgba(0, 0, 0, 0.07);
}

.hebergement-article-carte-image {
    width: 95%;
    margin: auto;
    margin-top: 7px;
    height: 60%;
    border-radius: 10px 10px 0 0;
}

.hebergement-article-carte-description {
    padding: 0 0 10px 10px;
    font-size: 14px;
}

.hebergement-article-carte-description_description {
    color: #727272;
    font-weight: lighter;
}

.hebergement-article_more {
    margin: 50px 0 20px 30px;
}

.fa-star {
    color: #0065fc;
}

.unfill-star {
    color: #727272;
}

/* aside */
.hebergement-aside {
    padding: 35px 30px 35px 30px;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-left: 40px;
    width: 33%;
    max-height: 650px;
}

.hebergement-aside_titre {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.hebergement-aside_titre i {
    padding-top: 5px;
    font-size: 25px;
}

.hebergement-aside_grille {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}


.hebergement-aside-carte {
    cursor: pointer;
    margin-bottom: 30px;
    border-radius: 10px;
    height: 160px;
    background-color: white;
    display: flex;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
        0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07),
        0 32px 64px rgba(0, 0, 0, 0.07);
}

.hebergement-aside-carte-image {
    width: 33%;
    margin: 5px 0 5px 5px;
    height: 94%;
    border-radius: 10px 0 0 10px;
}

.hebergement-aside-carte-description {
    padding: 10px 60px 0px 10px;
    display: flex;
    flex-direction: column;
    font-size: 14px;


}

.hebergement-aside-carte-description_description {
    color: #727272;
    font-weight: lighter;
    flex: 1;
}

.hebergement-aside-carte-description_note {
    margin-bottom: 8px;
}

@media screen and (max-width: 1250px) {
    .hebergement {
        margin: 30px 0px 0 0px;
        flex-direction: column-reverse;
    }

    .hebergement-article_more {
        margin: 20px 0 0 30px;
    }

    .hebergement-aside {
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 0;
    }

    .hebergement-aside_grille {
        margin-left: 10px;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;

    }

    .hebergement-article {
        width: 100%;
        background-color: white;
        padding: 0;
    }

    .hebergement-article_titre {
        margin: 30px 0 20px 30px;
    }

    .hebergement-aside_titre {
        margin: 30px 30px 20px 30px;
    }

    .hebergement-aside-carte {
        width: 300px;
    }

    .hebergement-aside-carte-image {
        width: 40%;
    }

    .hebergement-aside-carte-description {
        padding: 10px 20px 0px 10px;
    }


    .hebergement-article_grille {
        margin: 20px 0 20px 0px;
    }
}

@media screen and (max-width: 970px) {
    .hebergement-aside_grille {
        flex-direction: column;
    }

    .hebergement-aside-carte {
        width: 500px;
    }
}

@media screen and (max-width: 560px) {


    .hebergement-article_grille {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .hebergement-aside_grille {
        margin: 0;
        align-items: center;
    }

    .hebergement-article-carte {
        width: 90%;
    }

    .hebergement-aside-carte {
        width: 90%;
    }

    .hebergement-aside-carte-image {
        width: 33%;
    }
}


/* section activités */


.activites {
    margin: 30px 50px 0 50px;

}

.activites-grille {
    margin-top: 20px;
    min-height: 450px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: repeat(auto-fill, 45px);
    column-gap: 40px;

}

.activites-grille_carte {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
        0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07),
        0 32px 64px rgba(0, 0, 0, 0.07);
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 50px;
    cursor: pointer;
}

.activites-grille_carte img {
    border-radius: 10px 10px 0 0;
    height: 100%;
    width: 100%;

}

.activites-grille_carte1 {
    grid-row-end: span 10;
    grid-row-start: 1;
    grid-column-start: 1;

}

.activites-grille_carte2 {
    grid-row-end: span 5;
    grid-column-start: auto;


}


.activites-grille_carte3 {
    grid-row-start: 7;
    grid-row-end: span 4;

}

.activites-grille_carte4 {
    grid-column-start: 3;
    grid-row-end: span 10;


}

.activites-grille_carte5 {

    grid-column-start: 4;
    grid-row-end: span 4;


}

.activites-grille_carte6 {
    grid-column-start: 4;
    grid-row-start: 6;
    grid-row-end: span 5;

}

.activites-carte-titre {
    padding: 10px 0 0 15px;
}

@media screen and (max-width: 1100px) {
    .activites-grille {
        grid-template-columns: repeat(auto-fill,1fr);
        grid-template-rows: repeat(auto-fill, 300px);
        grid-row-gap: 20px;
    }

    .activites-grille_carte img {
        width: 100%;
    }

    .activites-grille_carte1 {
        grid-row-end: span 1;
        grid-column-start: 1;

    }

    .activites-grille_carte2 {
        grid-row-end: span 1;
        grid-column-start: auto;


    }


    .activites-grille_carte3 {
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 2;

    }

    .activites-grille_carte4 {
        grid-column-start: 1;
        grid-row-end: span 1;


    }

    .activites-grille_carte5 {
        grid-column-start: 2;
        grid-row-end: span 1;

    }

    .activites-grille_carte6 {
        grid-column-start: 3;
        grid-row-start: 2;
        grid-row-end: span 1;

    }

    .activites-carte-titre {
        padding: 10px 0 0 15px;
    }

}

@media screen and (max-width: 650px) {
    .activites {
        margin: 30px 0 0 0;
    }

    .activites-grille {
        display: flex;
        flex-direction: column;

    }

    .activites-titre {
        padding: 15px 0 0 15px;

    }

    .activites-grille_carte {
        height: 200px;
        width: 90%;
        margin: auto;
    }

}

/* Footer */

.footer {
    width: 100%;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between;
    margin: 100px 0 0px 0;
    padding: 0 300px 100px 50px;
    background-color: #f2f2f2;

}

.article-footer {
    margin-top: 40px;
}

.article-footer_titre {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 900;
}

.article-footer-liste {
    list-style-type: none;
}

.article-footer-liste_item {
    padding-top: 10px;
}

.article-footer-liste_item a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

@media screen and (max-width: 1100px) {
    .footer {
        position: unset;
        padding: 0 50px 100px 50px;
    }

}

@media screen and (max-width: 1100px) {
    .footer {
        flex-direction: column;
    }

}